


/* DESKTOP */

@media all and (max-width: 999999999px) and (min-width: 1340px) {

/* Footer Parent Div Styling */

#footer {
  
  width:100%;
  background-color:#fff;
  margin: 0 auto;

}

  
/* H3 Styling */

h3.left {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: left;

}

h3.center {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: center;

}
  

/* List Styling */

  ul {
    margin: 0;
    list-style-type: none;
}

    li {
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    list-style-type: none;
    text-align: left;
}
 

/* Utility Links Div Styling */

#utility-links {

  width: 50%;
  height: 150px;
  background-color:#fff;
  margin: 40px auto 0 auto;
   
}

.rectangle {
	width: 1px;
	height: 100px;
	background: #fff;
  margin: 0 30px 0 0;
  float: left;
  display: inline-block;

}

  
/* Help Styling */

.help {
 
  width: 30%;
  height: 100px;
  float: left;
  margin: 0;
  display: inline-block;
 
}

  
/* Help Img Icons*/

.help-img-icon {

  float: left;
  margin: 0 5px 0 0;

}


/* About Styling */

.about {

  width: 30%;
  height: 100px;
  float: left;
  margin: 0;
  display: inline-block;

}


/* Card Services Styling */

.card {

  width: 30%;
  height: 100px;
  float: left;
  margin: 0;
  display: inline-block;

}


/* Newsletter-Social Container */ 

#newsletter-social {
 
  width: 40%;
  margin: 0 auto;
  text-align: center;

}
    
  
/* Newsletter Styling */ 

#newsletter {
 
  width: 65%;
  margin: 30px 0 0 0;
  text-align: center;
  float: left;
  display: inline-block;

}

p.deals {
    
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500; 
  line-height: 0;
  text-align: center;
  
}

input[type=text] {

    width: 60%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #D9D6D6;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


input[type=button], input[type=submit], input[type=reset] {

    background-color: #0677FF;
    border: 2px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
  
}


/* Social Media Styling */ 

#social {

  width: 35%;
  margin: 80px 0 0 0;
  float: right;
  display: inline-block;

}


/* Copyright Styling */ 

.rectangle-horiz {
	width: 100%;
	height: 2px;
	background: #D8D8D8;
  margin: 170px 0 0 0;

}


#copyright {
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}


 .copy {

    color: #a7a7a7;
    font-size: 10px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left: 20px;
    display: inline-block;
overflow: hidden;

}


/* Link Styling */

a:link {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

a:visited {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:hover {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:active {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
  }

}



/* =TABLET */

@media all and (max-width: 1339px) and (min-width: 600px) {

/* Footer Parent Div Styling */

#footer {
  
  width:100%;
  background-color:#fff;
  margin: 0 auto;

}

/* H3 Styling */

h3.left {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: left;

}

h3.center {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: center;

}
  

/* List Styling */

  ul {
    margin: 0;
    list-style-type: none;
}

    li {
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    list-style-type: none;
  text-align: left;
}
 


/* Utility Links Div Styling */

#utility-links {

  width: 90%;
  height: 150px;
  background-color:#fff;
  margin: 40px auto 0 auto;

 
    
}

.rectangle {
	width: 1px;
	height: 100px;
	background: #fff;
  margin: 0 30px 0 30px;
  float: left;
display: inline-block;

}

/* Help Styling */

.help {
 
  width: 25%;
  height: 100px;
  float: left;
  margin: 0;
display: inline-block;
 
}

/* Help Img Icons*/

.help-img-icon {

  float: left;
  margin: 0 5px 0 0;

}


/* About Styling */

.about {

  width: 25%;
  height: 100px;
  float: left;
  margin: 0;
display: inline-block;

}


/* Card Services Styling */

.card {

  width: 25%;
  height: 100px;
  float: left;
  margin: 0;
display: inline-block;

}


/* Newsletter Styling */ 

#newsletter {
 
  width: 50%;
  margin: 30px 0 0 0;
  text-align: center;
float: left;
display: inline-block;

}

p.deals {
    
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500; 
  line-height: 0;
  text-align: center;
  
}

input[type=text] {

    width: 40%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #D9D6D6;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


input[type=button], input[type=submit], input[type=reset] {

    background-color: #0677FF;
    border: 2px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
  
}


/* Social Media Styling */ 

#social {

  width: 50%;
  margin: 80px 0 0 0;
  float: right;
  display: inline-block;

}


/* Copyright Styling */ 

.rectangle-horiz {
	width: 100%;
	height: 2px;
	background: #D8D8D8;
  margin: 0 0 0 0;

}


#copyright {
  
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;

}


 .copy {

    color: #a7a7a7;
    font-size: 10px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-left: 20px;


}


/* Link Styling */

a:link {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

a:visited {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:hover {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:active {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
  }

}




/* MOBILE */

@media all and (max-width: 599px) and (min-width: 100px) {

  
/* Footer Parent Div Styling */

#footer {
  
  width:100%;
  background-color:#fff;
  margin: 0 auto;

}

/* H3 Styling */

h3.left {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 


}

h3.center {

  color: #000;
  font-size: 16px;
  font-family: Mallory, Sans-Serif;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: center;

}
  

/* List Styling */

  ul {
    margin: 0;
    list-style-type: none;
}

    li {
    margin: 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    list-style-type: none;
     text-align: center;
}
 

/* Utility Links Div Styling */

#utility-links {

  width: 90%;
  height: 150px;
  background-color:#fff;
  margin: 40px auto 0 auto;

    
}


/* Help Styling */

.help {
 
  width: 100%;
  height: 100px;
  float: left;
  margin: 0;

}

  
/* Help Img Icons*/

.help-img-icon {

  margin: 0 5px 0 0;

}


/* About Styling */

.about {

  width: 100%;
  height: 100px;
  float: left;
  margin: 50px 0 0 0;

}


/* Card Services Styling */

.card {

  width: 100%;
  height: 100px;
  float: left;
  margin: 0;

}


/* Newsletter Styling */ 

#newsletter {
 
  width: 100%;
  margin: 210px 0 0 0;
  text-align: center;

}

p.deals {
    
  font-size: 13px;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 500; 
  line-height: 0;
  text-align: center;
  
}

input[type=text] {

    width: 40%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px #D9D6D6;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


input[type=button], input[type=submit], input[type=reset] {

    background-color: #0677FF;
    border: 2px;
    border-radius: 4px;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 900;
  
}


/* Social Media Styling */ 

#social {

  width: 100%;
  margin: 30px 0 0 0;

}


/* Copyright Styling */ 

.rectangle-horiz {

  width: 100%;
	height: 2px;
	background: #D8D8D8;
  margin: 30px 0 0 0;

}


#copyright {
  
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

}


 .copy {

    color: #a7a7a7;
    font-size: 8.5px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin: 0;
   white-space: nowrap;


}


/* Link Styling */

a:link {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}

a:visited {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:hover {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
}


a:active {
    color: #0677FF;
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 500;
  }

}

