.summary-holder{
 width: 100%;
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.summary{
  flex: 1 1 300px; /*  Stretching: */
    flex: 0 1 300px; /*  No stretching: */
    margin: 5px;
    border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);
  padding: 8px;
  background: #fff;
}
.scroll-table{
  overflow: hidden;
  overflow-x: scroll;
}
.table-holder{
   background: #fff;
   width: 80%;
   min-width: 750px;
  margin-left: 10%;
  border: 1px solid #fff;
  box-shadow: 0 0 0.5rem 0 rgba(0 ,0,0,0.3);
  padding: 8px;
 margin-top: 20px;
 margin-bottom: 20px;

}
.table-caption{
  display: flex;
 justify-content: center;
  width: 100%;
  border-bottom: 2px solid grey;
}
.table-holder table{
  width: 100%;
 }
 .table-holder thead{
  color: #581845;
  font-size: 21px;
  text-align: center;
  background-color: #fff;

 }
 .table-holder th{
  padding: 12px 8px;

 }
  .table-holder td{
    text-align: center;
    font-size: 18px;
    padding: 8px 6px;
  }
  .table-holder tbody tr:nth-child(odd){background-color: #f2f2f2;}
  .table-holder tbody tr:hover{background-color: #ddd; }
.readbutton{
  background: #581845;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  padding: 2px 3px;
  cursor: pointer;

}
.replybutton{
  background: green;
  color: #fff;
  padding: 2px 3px;
  font-size: 18px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.inputstyle{
  min-width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #581845;
  border-radius: 4px;
  box-sizing: border-box;
}

.mail-box{

  font-size: 24px;
   width: 60%;
  background: #00000000;
  text-align: center; 
  position: absolute; 
  top: 20%;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;  
  overflow: hidden;
  display: none;
  padding: 8px;
  border: 2px solid #581845;
  position: fixed;
  
}