.productcontent{
	margin-top: 20px;
}

.product-item{
	width: 80%;
	background: #fff;
	margin-left: 10%;
	margin-top: 20px;
	box-shadow: 0 0 10px  grey;
}
.product-head{
	background: #fff;
	width: 100%;
}
.product-description{
	width: 100%;
	display: flex;
	padding: 2px;
}
.product-image{
	width: 50%;

}
.product-infor{
	width: 50%;
	padding: 16px;
	font-size: 24px;
}
.header{
	font-size: 24px;

}
.brownbackground{
	background: #78184a;
}
.pinkbackground{
	background: #ff77ff ;
}

.getproduct-button{
 width: 60%;
 padding: 10px 12px;
 font-size: 24px;
 border-radius: 10px;
 background: #00000000;
 border: 3px solid #ee6d71;

}
.contact-button:hover{
cursor: pointer;
background:  #581845;
color: #fff;
}

.web-product{
	background: #fff;
	width: 80%;
	margin-left: 10%;
	box-shadow: 0 0 10px  grey;
}
.android-product{
	background: #fff;
	width: 80%;
	margin-left: 10%;
	box-shadow: 0 0 10px  grey;
}
.show-hide{
	display: flex;
}
.title-div{
width: 90%;
}
.icon-div{
width: 10%;
}
.web-product-card{
	display: none;
}
.android-product-card{
	display: none;
}


@media(max-width: 800px){
	.web-product{
	background: #fff;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 0 10px  grey;

}
	.product-description{
	width: 98%;
	display: block;
	padding: 2px;
}
.product-item{
	width: 100%;
	margin-left: 0%;
	margin-top: 20px;
}
.product-image{
	width: 100%;

}
.product-infor{
	width: 100%;
	padding: 16px;
	font-size: 24px;
}

}